body {
  padding-top: 50px;
  background-color: #167CB2;

}
a{color:#ffff99;}

.cimage{

	width:60%;
	text-align: center;
}

.ctext{padding-left: 20%;}
.footer{

	background-color: #167CB2;
	padding:10px;
	border-color: #001333;
}



.logo{

	min-width: 60px;
	max-width: 140px;
}
.hightlighted{color: #167CB2;}
.row{color: #FFF;}
.text-muted{color:#ffff99;}
.featurette-divider{color:blue; min-height: 3px; background-color: yellow; border-bottom:2px; border-color: blue;}



