<!DOCTYPE html>
<html lang="en">

  {% include head_bootstrap.html %}

    <body>

    {% include header.html %}

   
    {{ content }}
   
   	<div class="container footer">
    <hr class="featurette-divider">
      <a href="http://twitter.com/louisianime"><img class="img-circle" src="/img/twitter.png" alt="Generic placeholder image"></a>
      <a href="http://www.facebook.com/louisianime"><img class="img-circle" src="/img/facebook.png" alt="Generic placeholder image"></a>
    
  	</div>

    {% include footer.html %}
      
    </body>
</html>