<!DOCTYPE html>
<html lang="en">

  {% include head_bootstrap.html %}

    <body>

    {% include header.html %}

   
   <div class="container page">

	  <div class="post">

		  <header class="post-header">
		    <h1>{{ page.title }}</h1>
		  </header>

		  <article class="post-content">
		  {{ content }}
		  </article>

	  </div>
	    
	</div>


    <div class="container footer">
    <hr class="featurette-divider">
     <a href="http://twitter.com/louisianime"><img class="img-circle" src="/img/twitter.png" alt="Twitter @louisianime image"></a>
     <a href="http://www.facebook.com/louisianime"><img class="img-circle" src="/img/facebook.png" alt="Facebook image"></a>
    </div>
   

    {% include footer.html %}
      
    </body>
</html>

